extensions:
	events : Contributte\EventDispatcher\DI\EventDispatcherExtension
	console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)
	webSockets : IPub\WebSockets\DI\WebSocketsExtension
	webSocketsWAMP : IPub\WebSocketsWAMP\DI\WebSocketsWAMPExtension

console:
	name: iPublikuj:Packages!
	version: '1.0'
	catchExceptions: true
	autoExit: true
	url: null
	lazy: false
	helperSet: null
	helpers: []

webSockets:
	console: true
	symfonyEvents: true

webSocketsWAMP:
	symfonyEvents: true