extensions:
	contributteEvents	: Contributte\EventDispatcher\DI\EventDispatcherExtension
	contributteConsole	: Contributte\Console\DI\ConsoleExtension(%consoleMode%)
	webSockets			: IPub\WebSockets\DI\WebSocketsExtension
	webSocketsWAMP		: IPub\WebSocketsWAMP\DI\WebSocketsWAMPExtension

contributteConsole:
	name: iPublikuj:Packages!
	version: '1.0'
	catchExceptions: true
	autoExit: true
	url: http://example.com
	lazy: false
	helperSet: \Symfony\Component\Console\Helper\HelperSet
	helpers: []
